<header class="hero-unit" id="banner">
  <div class="container">
    <h1>dummy</h1>
    <p class="lead">tutorial</p>
    <img src="assets/images/iconmonstr-twitter-3-96.png" alt="I'm not twitter">
  </div>
</header>

<div class="container">

  <form class="thing-form">
    <p class="input-group">
      <input type="text" class="form-control" placeholder="type me." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>

  <div ng-repeat="thing in awesomeThings" class="tweet">
    <div class="row">
      <h2 class="col-xs-2">
        {{thing.user.name}}
      </h2>
      <div class="arrow_box col-xs-10">
        <button ng-if="isMyTweet(thing)" type="button" class="close" ng-click="deleteThing(thing)">&times;</button>
        <h2 class="message">
          {{thing.name}}
        </h2>
        <span style="float: right;">({{thing.createdAt | fromNow}})</span>
      </div>
    </div>
  </div>

</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack JP v0.0.21 |
        <a href="https://twitter.com/jimobrienn">@jimobrienn</a> |
         <a href="https://github.com/jimobrien/generator-angular-fullstack-jp/issues?state=open">Issues</a></p>
  </div>
</footer>
